In [ ]:
# Explanation of `map()`, `filter()`, and `zip()` in Python with Examples

---

### 1. `map()` â€“ Apply a function to all items in an iterable  
**Syntax:** `map(function, iterable)`  

It returns a map object (which is an iterator), so we usually convert it to a list or tuple to see the results.

**Example 1: Convert all strings to uppercase**  
```python
names = ['alice', 'bob', 'charlie']
upper_names = list(map(str.upper, names))
print(upper_names)
# Output: ['ALICE', 'BOB', 'CHARLIE']

In [1]:
names = ['alice', 'bob', 'charlie']
marks = [75, 85, 90]

In [4]:
students = zip(names, marks)
students
list(students)

[('alice', 75), ('bob', 85), ('charlie', 90)]

In [3]:
names = ['alice', 'bob', 'charlie']
marks = [75, 85, 90]

# zip them together
students = zip(names, marks)

# filter based on marks > 80
top_students = filter(lambda x: x[1] > 80, students)

# map to uppercase names
result = list(map(lambda x: (x[0].upper(), x[1]), top_students))
print(result)
# Output: [('BOB', 85), ('CHARLIE', 90)]

[('BOB', 85), ('CHARLIE', 90)]